@charset "utf-8";
html {
    font-size: 100px;
}

html, body, .swiper-container, .swiper-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.music {
    position: absolute;
    top: .1rem;
    right: .1rem;
    z-index: 100;
    width: .35rem;
    height: .35rem;
    background: url("../audioFile/music.svg") center center;
    background-size: 100% 100%;
}

.music.move {
    -webkit-animation: musicMove 1s linear infinite both;
    animation: musicMove 1s linear infinite both;
}

.swiper-slide {
    position: relative;
}

.move .musicAudio {
    display: none;
}

@-webkit-keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.page1 {
    background: #fed000;
}

.page1 img {
    opacity: 0;
}

.page1 > img:nth-child(1) {
    position: absolute;
    top: .6rem;
    left: .3rem;
    width: 2.68rem;
    height: .96rem;
}

.page1 > img:nth-child(2) {
    position: absolute;
    top: 1.7rem;
    left: .85rem;
    width: 1.8rem;
    height: .12rem;
}

.page1 > img:nth-child(3) {
    position: absolute;
    top: 2rem;
    left: .65rem;
    width: 1.96rem;
    height: .75rem;
}

.page1 > img:nth-child(4) {
    position: absolute;
    top: 3rem;
    left: .8rem;
    width: 1.68rem;
    height: 1.68rem;
}

#page1 > img:nth-child(1) {
    -webkit-animation: bounceInLeft 3s both;
    animation: bounceInLeft 3s both;
}

#page1 > img:nth-child(2) {
    -webkit-animation: bounceInRight 3s .3s both;
    animation: bounceInRight 3s .3s both;
}

#page1 > img:nth-child(3) {
    -webkit-animation: bounceInUp 3s .6s both;
    animation: bounceInUp 3s .6s both;
}

#page1 > img:nth-child(4) {
    -webkit-animation: bounceInUp 3s .9s both;
    animation: bounceInUp 3s .9s both;
}

@-webkit-keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}

/*第二屏开始*/
.page2 {
    background: cadetblue;
    background-size: cover;
}

.page2 > div {
    position: absolute;
    width: 100%;
    height: .7rem;
    font-family: "微软雅黑";
    border-radius: 5%;
    opacity: 0;
}

.page2 > div:nth-child(1) {
    top: .6rem;
    background: royalblue;
    font-size: .3rem;
    line-height: .7rem;
}

.page2 > div > span {
    font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
}

.page2 > div:nth-child(2) {
    top: 1.3rem;
    background: chocolate;
}

.page2 > div:nth-child(3) {
    top: 2rem;
    background: yellowgreen;
}

.page2 > div > span:nth-child(1) {
    display: block;
    width: .8rem;
    height: .3rem;
    font-size: .2rem;
}

.page2 > div > span:nth-child(2) {
    display: block;
    width: 1rem;
    height: .3rem;
    font-size: .25rem;
}

.page2 > div:nth-child(4) {
    top: 2.7rem;
    background: green;
}

.page2 > div:nth-child(5) {
    top: 3.4rem;
    background: darkseagreen;
}

.page2 > div:nth-child(6) {
    top: 4.1rem;
    background: peru;
}

#page2 > div:nth-child(1) {
    -webkit-animation: lightSpeedIn 2s 0.3s both;
    animation: lightSpeedIn 2s 0.5s both;
}

@-webkit-keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

#page2 > div:nth-child(2) {
    -webkit-animation: lightSpeedIn 2s 0.7s both;
    animation: lightSpeedIn 2s 0.7s both;
}

#page2 > div:nth-child(3) {
    -webkit-animation: lightSpeedIn 2s 1s both;
    animation: lightSpeedIn 2s 1s both;
}

#page2 > div:nth-child(4) {
    -webkit-animation: lightSpeedIn 2s 1.3s both;
    animation: lightSpeedIn 2s 1.3s both;
}

#page2 > div:nth-child(5) {
    -webkit-animation: lightSpeedIn 2s 1.6s both;
    animation: lightSpeedIn 2s 1.6s both;
}

#page2 > div:nth-child(6) {
    -webkit-animation: lightSpeedIn 2s 1.9s both;
    animation: lightSpeedIn 2s 1.9s both;
}

@-webkit-keyframes lightSpeedIn {
    from {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }

    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        opacity: 1;
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes lightSpeedIn {
    from {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }

    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        opacity: 1;
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

#page2 > div:nth-child(7) {
    -webkit-animation: bounceInUp 3s both;
    animation: bounceInUp 3s both;
}

/*第三屏开始*/
.page3 {
    background: burlywood;
}

.page3 .wap {
    width: 100%;
    height: 5rem;
    position: absolute;
    top: .8rem
}

.page3 .wap div, img {
    width: 1rem;
    height: 1.74rem;
    border-radius: 5%;
    position: absolute;
}

.page3 .tap {
    position: absolute;
    left: 1rem;
    top: .3rem;
    text-align: center;
    font-size: .3rem;
    color: royalblue;
    width: 1.23rem;
    height: .4rem;
    font-family: "'Microsoft Yahei',Tahoma,Helvetica,Arial,sans-serif";
}

#page3 .tap {
    -webkit-animation: zoomIn 2s both;
    animation: zoomIn 2s both;
}

.page3 .wap > div:nth-child(1) {
    left: .35rem;
}

#page3 .wap > div:nth-child(1) {
    -webkit-animation: flip 1s both;
    animation: flip 1s both;
}

@-webkit-keyframes flip {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    40% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    50% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    80% {
        -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
        transform: perspective(400px) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

@keyframes flip {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    40% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    50% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    80% {
        -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
        transform: perspective(400px) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

.page3 .wap > div:nth-child(2) {
    right: .35rem;
}

#page3 .wap > div:nth-child(2) {
    -webkit-animation: flip 1s both;
    animation: flip 1s both;
}

.page3 .wap > div:nth-child(3) {
    left: .35rem;
    bottom: 1rem;
}

#page3 .wap > div:nth-child(3) {
    -webkit-animation: flip 1s both;
    animation: flip 1s both;
}

.page3 .wap > div:nth-child(4) {
    right: .35rem;
    bottom: 1rem;
}

#page3 .wap > div:nth-child(4) {
    -webkit-animation: flip 1s both;
    animation: flip 1s both;
}

.page3 .wap div span {
    float: left;
    width: .85rem;
    height: .6rem;
    position: absolute;
    font-size: .3rem;
    color: white;
    font-family: "'Microsoft Yahei',Tahoma,Helvetica,Arial,sans-serif";
    text-align: center;
}

.page3 .wap > div:nth-child(1) span {
    top: .6rem;
    left: .1rem;
}

.page3 .wap > div:nth-child(2) span {
    top: .6rem;
    left: .07rem;
}

.page3 .wap > div:nth-child(3) span {
    bottom: .36rem;
    left: .1rem;
}

.page3 .wap > div:nth-child(4) span {
    left: .07rem;
    bottom: .36rem;
}

.page4 {
    background: royalblue;
}

.page4 img {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 1rem;
    left: .8rem;
    border-radius: 50%;
}

#page4 img {
    -webkit-animation: flip 1s both;
    animation: flip 1s both;
}

.page4 div {
    position: absolute;
    top: 3rem;
    width: 100%;
    height: .36rem;
    line-height: .36rem;
    background: #fec94b;
    font-size: .2rem;
    font-family: "'Microsoft Yahei',Tahoma,Helvetica,Arial,sans-serif";
    text-align: center;
}

#page4 div {
    -webkit-animation: rotateInUpRight 1s both;
    animation: rotateInUpRight 1s both;
}

@-webkit-keyframes rotateInUpRight {
    from {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate3d(0, 0, 1, -90deg);
        transform: rotate3d(0, 0, 1, -90deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes rotateInUpRight {
    from {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate3d(0, 0, 1, -90deg);
        transform: rotate3d(0, 0, 1, -90deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

.page4 span {
    position: absolute;
    top: 3.5rem;
    left: .83rem;
    font-weight: 300;
    width: 100%;
    height: .7rem;
    line-height: .7rem;
    color: #fec94b;
    font-size: .6rem;
    font-family: "'Microsoft Yahei',Tahoma,Helvetica,Arial,sans-serif";
}

#page4 span {
    -webkit-animation: zoomIn 1s both;
    animation: zoomIn 1s both;
}

@-webkit-keyframes zoomInDown {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

@keyframes zoomInDown {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}
